*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

:root{
    font-size: 16px;
}

.backBtn{
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 10px;
    z-index: 99;
}

.headerDiv{
    background-image: url("../media/albion/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 850px;
}

.logoDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eachFeaDiv{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 620px;
}

.eachTxtDiv{
    height: 100%;
    position: relative;
}

.eachTxtPart{
    width: 100%;
    height: 550px;
}

.fightTxtDiv, .worldTxtDiv{
    float: right;
}

.eachMainTitle{
    margin: 50px 0 30px 0;
    color: #e4e1cf;
}

.eachSecondTitle{
    margin-bottom: 30px;
    color: #f29921;
}

.eachPara{
    color: #e4e1cf;
}

.eachBtn{
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #ddd;
    padding: 10px;
}

.eachBtn:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #ddd;
}

.leftBtn{
    left: 5%;
}

.rightBtn{
    right: 5%;
}

.eachBtnSquareGroup{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.eachBox{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #f09833;
    border: 2px solid #fff;
}

/* JS can't target :active pseudo classes, so I am using this "compound selection" method */
.eachBox.active{
    box-shadow: 0 0 5px 2px #fff;
}

@media (min-width: 768px){
    .eachTxtDiv{
        width: 50%;
        background-color: rgba(0,0,0,.4);
    }

    .eachTxtPart{
        padding: 120px 120px 0 120px;
    }
   
    .logo{
        width: 500px;
    }

}

@media (max-width: 768px) {
    .eachTxtDiv{
        width: 100%;
    }

    .eachTxtPart{
        padding: 80px 80px 0 80px;
    }
    
    .logo{
        width: 80%;
    }

    .worldFea{
        background-position: 20%;
    }
}